@media screen and (max-width: 650px) {
    .logo {
        margin-top: 10px;
        width: 100%;
        text-align: center ;
    }
    .title {
        width: 100%;
        text-align: center ;
    }
     .title h1 {
        line-height: 80%;
    }
    .app {
            width: 100%;
            margin: 10px 0;
    }
    .app p {
        font-size: 1.5rem;
    }
    .featured-header {
        font-size: 1.5rem;
    }

 }
@media screen and (min-width: 650px) and (max-width: 1200px) {

    .title {
        width:70%;
    }
    .logo {
        width: 30%;
        margin-top: 30px;
    }
    .title h1 {
        line-height: 80%;
    }
    .github-links {
        font-size: 0.9em;
    }

@media screen and (min-width: 650px) and (max-width: 960px) {
    .app {
        width: calc((100% - 10px)/2);
        margin: 0 5px 10px 0;
    }

    .app p {
        font-size: 1em;
    }
}


/*@media screen and (max-width: 960px) {

    
    .app {
        margin-right: 5px;
    }
}*/